.top-b-1 {
  background-color: var(--top-banner-1-bg);
  color: var(--text-dark-blue);
  width: 100vw;
  height: 86px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.top-b-2 {
  background-color: var(--top-banner-2-bg);
  color: #fff;
  width: 100vw;
  height: 86px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.content-container {
  background-color: var(--bg-color);
  width: calc(100vw - 140px);
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 136px;
  row-gap: 34px;
}

.content-head {
  font-size: 40px;
  font-weight: 700;
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.content-head-red {
  color: var(--text-red);
}


table {
  margin: 20px 0 10px;
  width: 100%;
  border-spacing: 0;
}

tbody>tr:nth-child(odd) {
  background-color: var(--grey-line);
}

td {
  padding: 16px;
  font-size: 34px;
  line-height: 1;
  font-weight: 500;
}

.mwTD {
  width: 150px;
  text-align: center;
}

.mwTD2 {
  width: 204px;
  text-align: center;
}