body {
  font-family: "termina", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --bg-color: #E5E5E6;
  --top-banner-1-bg: #FCB61C;
  --top-banner-2-bg: #C4922B;
  --text-red: #E51937;
  --text-dark-blue: #0C2C6C;
  --text: #242424;
  --grey-line: #D9D9D9;
}

body {
  margin: 0;
}